<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UShelf - About Us</title>
    <link rel="stylesheet" href="..\static\styles\styles.css">
    <script src="..\static\scripts\main.js"></script>
</head>
<body>
    <header>
        <h1>About Us</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="calendar.html">My Calendar</a></li>
                <li><a href="myshelf.html">My Shelf</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="about">
            <h2>Our Mission</h2>
            <p>UShelf is dedicated to helping you organize your life, manage your schedule, and keep track of the things that matter most.</p>
            
            <h2>developer</h2>
            <p> </p>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 UShelf. All Rights Reserved.</p>
    </footer>
</body>
</html>
