<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UShelf - Home</title>
    <link rel="stylesheet" href="C:\Users\hp\Desktop\ushelf update p\static\styles\styles.css">
    <script src="..\static\scripts\main.js"></script>

</head>
<body>
    <header>
        <h1>Welcome to UShelf</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="calendar.html">My Calendar</a></li>
                <li><a href="myshelf.html">My Shelf</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2 style="color: white; font-size: 40px;">Ushelf</h2>
            <p style="color: rgb(4, 17, 29); font-size: 25px;"> Ushelf will serve as a platform where individuals can organize their digital books in a personalized way. 
                Users can invite others to view their shelves using a unique Ushelf username and ID. 
                The platform will also feature a calendar and email notifications for managing reading schedules..</p>
            <img src="C:\Users\hp\Desktop\ushelf update p\static\images\book_s.jpg" alt="book-image" style="float:right;width:500px;height:300px;">
            
            <h3 style="text-align: left; color: rgb(251, 253, 249);">Tips on How to Use UShelf:</h3>
            <ul style="text-align: left; color: #0b0c0c;" >
                <li>Use the "My Calendar" to schedule and manage your events.</li>
                <li>Add important items to "My Shelf" to keep track of books, movies, tasks, and more.</li>
                <li>Visit "About Us" to learn more about our mission and team.</li>
            </ul>
        </section>
        
        <section style="align-items: end; color: white;">
            <h2 style="padding: 10px 20px;">Get Started</h2>
           <form style="text-align: center; padding: 10px 20px;">
            <button  formaction="login.html" class="button" >Log In</button>

            <button formaction="signup.html" class="button">Create Account</button>
            </form>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 UShelf. All Rights Reserved.</p>
    </footer>
</body>
</html>
