<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UShelf - Reset Password</title>
    <link rel="stylesheet" href="..\static\styles\styles.css">
    <script src="..\static\scripts\main.js"></script>
</head>
<body>
    <header>
        <h1>Reset Your Password</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="login.html">Log In</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <form id="reset-password-form">
                <label for="new-password">New Password:</label>
                <input type="password" id="new-password" name="new-password" required>
                
                <label for="confirm-new-password">Confirm New Password:</label>
                <input type="password" id="confirm-new-password" name="confirm-new-password" required>
                
                <button type="submit">Update Password</button>
                
                <p id="reset-password-error" class="error-message"></p>
            </form>
        </section>
    </main>
    
    <footer>
        <p>&copy; 2024 UShelf. All Rights Reserved.</p>
    </footer>

    <script src="scripts/main.js"></script>
</body>
</html>
